<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">
<head>
  <title th:text="|#{applicationName} - #{manage}|"></title>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
<div class="ui container">
  <div class="ui inverted menu">
    <h2 class="item" th:text="|#{applicationName} - #{manage}|"></h2>
    <div class="right menu">
      <div sec:authorize="isAuthenticated()" class="item">
        <form th:action="@{/logout}" method="post">
          <button id="buLogin" class="ui red basic button" th:text="#{logout}"></button>
        </form>
      </div>
    </div>
  </div>
  <div id="txUser" th:with="auth=${#authentication.getPrincipal()}" th:text="#{welcomeUser(${auth.name}, ${auth.username})}"></div>
  <h4 th:text="#{yourMessage}"></h4>
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="two wide" th:text="#{message.publishDate}"></th>
        <th class="two wide" th:text="#{message.removeDate}"></th>
        <th class="two wide" th:text="#{message.status}"></th>
        <th class="eight wide" th:text="#{message.description}"></th>
        <th class="two wide">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="taMy">
      <tr th:each="message:${userMessages}" th:object="${message}" th:with="dataId=|my*{id}|" th:id="${dataId}">
        <td th:id="|${dataId}PublishDate|" class="myPublishDate" th:text="*{#temporals.format(publishDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:id="|${dataId}RemoveDate|" class="myRemoveDate" th:text="*{removeDate == null}? #{notSet}: *{#temporals.format(removeDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:id="|${dataId}Status|" class="myStatus" th:text="#{__${statusMap.get(message.status)}__}"></td>
        <td th:id="|${dataId}Description|" class="myDescription" nl2br:text="${message.description}"></td>
        <td>
          <a th:if="*{status != null and status == 1}" th:id="|${dataId}Edit|" th:href="@{/manage/__*{id}__}" class="ui mini green icon button" th:text="#{edit}"> <i class="edit icon"></i></a>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <a class="ui mini icon button" id="buNewMessage" th:href="@{/manage/new}" th:text="#{newMessage}"> <i class="add circle icon"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <h4 sec:authorize="hasAuthority('ADMIN')" th:text="#{messageWaitingApprove}"></h4>
  <table sec:authorize="hasAuthority('ADMIN')" class="ui celled table">
    <thead>
      <tr>
        <th class="two wide" th:text="#{message.owner}"></th>
        <th class="two wide" th:text="#{message.publishDate}"></th>
        <th class="two wide" th:text="#{message.removeDate}"></th>
        <th class="eight wide" th:text="#{message.description}"></th>
        <th class="two wide">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="taApprove">
      <tr th:each="message:${waitingApproveMessages}" th:object="${message}" th:with="dataId=|app*{id}|" th:id="${dataId}">
        <td th:id="|${dataId}Owner|" class="appOwner" th:text="*{owner}"></td>
        <td th:id="|${dataId}PublishDate|" class="appPublishDate" th:text="*{#temporals.format(publishDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:id="|${dataId}RemoveDate|" class="appRemoveDate" th:text="*{removeDate == null}? #{notSet}: *{#temporals.format(removeDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:id="|${dataId}Description|" class="appDescription" nl2br:text="*{description}"></td>
        <td>
          <a th:if="*{status != null and status == 1}" th:id="|${dataId}Approve|" th:href="@{/manage/__*{id}__/approve}" class="ui mini green icon button" th:text="#{approve}"> <i class="edit icon"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
